<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/User/OneDrive/Desktop/MIT4201_Assignment02_22550641_test02/src/test/java"><classes><class name="TestCases.CareersChecker"><methods><include name="careersInfoAssertion"/></methods></class><class name="TestCases.EbaySearchAddToCart"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchAddtoWatchlist"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchTestBuyItNow"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchWithWrongLocator"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.HeadlessTest"><methods><include name="searchAndBuySamsungPhone"/></methods></class></classes></test></suite>